.footer {
    position: relative;
    top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--blueviolet);
    height: 20rem;
}

.logo {
    display: block;
    clear: right;
    width: 100%;
    text-align: center;
    padding: .5rem;
}

.logo img {
    width: 3rem;
}

.nav {
    margin: 1rem;
}

.nav_item {
    display: flex;
    align-items: center;
}

.nav_link {
    color: white;
}

.contacts {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    display: flex;
}

.contacts_nav {
    display: flex;
    flex-direction: column;
}

.contact_item {
    margin: 0 1rem;
}

.contact_link {
    color: white;
    font-weight: 600;
}

@media(min-width: 720px) {
    .footer {
    }

    .logo img {
        width: 4rem;
    }

    .contacts {
        justify-content: center;
    }

    .contacts_nav {
        flex-direction: row;
    }
}